*{
    margin: 0px;
    padding: 0px;
}




.wrapper{
    margin-top: 8rem;
    padding: 0px;
      /* background-image: url("bgimage.jpg"); */
      background-size: cover;
}

.cols{
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
            
  }

  .heading-product{
      margin-left: 8vw;
      margin-right: 8vw;
      padding-bottom: 3vw;
      padding-top: 3vw;
      padding-left: 30px;
      padding-right: 30px;
      background-color: rgb(219, 216, 216);
      border-radius: 10px;
  }

  hr{
      width: 90%;
      margin: auto;
      margin-top: 2vw;
      color: rgb(207, 204, 204);
      
  }

  img{
     object-fit: fill;
      width: 100%;
      height: 210px;
  }
  .col1{
    width: 280px;
    margin: 25px;
    cursor: pointer;
    padding: 5px;
    border: 2px solid rgb(223, 220, 220);
    border-radius: 10px;
    
  }
  .content{
      margin: auto;
      margin-top: 20px;
      text-align: center;
  }
  .btn-primary{
      width: 95%;
      margin-bottom: 15px;
  }